# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
public/faces/hilmyraihankindy_at_gmail.com/1733561920136_face_0.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920137_face_1.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920137_face_2.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920137_face_3.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920137_face_4.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920137_face_5.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920137_face_6.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920137_face_7.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920137_face_8.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920138_face_9.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920138_face_10.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920138_face_11.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920138_face_12.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920138_face_13.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920138_face_14.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920138_face_15.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920138_face_16.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920139_face_17.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920139_face_18.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920139_face_19.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920139_face_20.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920139_face_21.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920139_face_22.jpg
public/faces/hilmyraihankindy_at_gmail.com/1733561920139_face_23.jpg
public/models/face_expression_model-shard1
public/models/face_expression_model-weights_manifest.json
public/models/face_landmark_68_model-shard1
public/models/face_landmark_68_model-weights_manifest.json
public/models/face_recognition_model-shard1
public/models/face_recognition_model-shard2
public/models/face_recognition_model-weights_manifest.json
public/models/ssd_mobilenetv1_model-shard1
public/models/ssd_mobilenetv1_model-shard2
public/models/ssd_mobilenetv1_model-weights_manifest.json
public/models/tiny_face_detector_model-shard1
public/models/tiny_face_detector_model-weights_manifest.json
public/uploads/1_1733110255122.JPG
